<div class="item">
    <img [src]="item.image"/>
    <div class="detail">
        <span id="title">{{item.title|lengthreducer}}</span>
        
     <table>
        <tr>
            <td (click)="updateQuantity(-1)">-</td>
            <td>{{item.quantity}}</td>
            <td (click)="updateQuantity(+1)">+</td>
        </tr>
    </table>
    <span id="price">{{item.price|currency}}</span>
    
    </div>
    <span class="material-symbols-outlined" id="remove" (click)="remove()">
        delete
        </span>
</div>

