.header{
    padding: 1% 3% ;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    top:0;
    left:0;
    right:0;
    position: fixed;
    z-index: 99;
 ul{
    list-style: none;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    li{
        padding: 20px 12px 5px 12px;

        .active{
            border-bottom: 4px solid var(--gold);
        }
        a{
            font-size: 32px;
            cursor: pointer;
            text-decoration: none;
            color: var(--black);
        }
    }
    li:first-child{
        position: relative;
        
    }
}
 
}
#badge{
    color: white;
    background-color: red;
    font-size: small;
    width: 10px;
    height: 10px;
    padding: 5px;
    text-align: center;
    line-height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top:10px
    
}




/*.homenavigation{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    margin: 0;
    z-index: 1;
}
.regularnavigation{
    background-color: var(--white);
    z-index: 1;
}*/

// background animation


