
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(4,1fr);
    overflow: hidden;
    
    .row{
        grid-area: 1;
        animation: slide  linear infinite;
        &.first{ 
            animation-duration: 10s;
        }
        &.second{ 
            animation-duration: 15s;
        }
        &.third{ 
            animation-duration: 9s;
        }
        &.fourth{ 
            animation-duration: 13s;
        }
    }
    
    img{
        width: 99%;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        border: 5px solid black;
        object-fit: cover;
        filter: grayscale(70%);
    }
   
    
   
    .shop{
        font-size: 1.5rem;
        font-weight: bolder;
        background-color: transparent;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(255,255,255,0.4),rgba(0,0,0,0.3));
        padding: 1rem;
        position: absolute;
        top:50%;
        left:70%;
        transform: translate(-50%,-50%);
    }

}
@keyframes slide {
    0% {
        
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-30%); /* The image width */
    }
  }