<div class="container"  >
    <div class="row first">
     <img src="./assets/shopping.jpg"/>
     <img src="./assets/bag.jpg"/>
     <img src="./assets/watch.jpg"/>
     <img src="./assets/phone.jpg"/>
     <img src="./assets/shirts.jpg"/>
    </div>
    <div class="row second">
     <img src="./assets/shirts.jpg"/>
     <img src="./assets/phone.jpg"/>
     <img src="./assets/shopping.jpg"/>
     <img src="./assets/watch.jpg"/>
     <img src="./assets/bag.jpg"/>
    </div>
    <div class="row third">
     <img src="./assets/watch.jpg"/>
     <img src="./assets/shopping.jpg"/>
     <img src="./assets/shirts.jpg"/>
     <img src="./assets/bag.jpg"/>
     <img src="./assets/phone.jpg"/>
   
    </div>
    <div class="row fourth">
     <img src="./assets/phone.jpg"/>
     <img src="./assets/bag.jpg"/>
     <img src="./assets/watch.jpg"/>
     <img src="./assets/shirts.jpg"/>
     <img src="./assets/shopping.jpg"/>
    </div>
 </div>
